---
const { data } = Astro.props;
const { imgSrc, imgAlt, title, text } = data;
---

<article>
    <img class="grow-image" src={imgSrc} alt={imgAlt} />
    <div class="wrap-text">
        <h2>{title}</h2>
        <p>
            {text}
        </p>
    </div>
</article>

<style>
    .grow-image {
        height: 100%;
        padding-inline: 2rem;
    }

    .wrap-text {
        margin-top: 5rem;
        text-align: center;
    }

    h2 {
        font-size: clamp(1.3rem, 3vw, 2.2rem);
        margin-bottom: 1.3rem;
    }

    p {
        font-size: clamp(14px, 1.8vw, 16px);
    }

    @media (min-width: 800px) {
        article {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        .wrap-text {
            margin-top: 0;
            text-align: start;
            grid-column: 1/ 2;
            grid-row: 1;
            max-width: 470px;
        }

        img {
            grid-column: 2 /3;
            grid-row: 1;
        }
    }
</style>
