---

---

<button>Get Started For Free</button>

<style>
    button {
        padding: 0.7rem 2rem;
        border: none;
        border-radius: 30px;
        background-color: var(--pink);
        color: var(--white);
        font-weight: 700;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    button:hover {
    }
</style>
