<section>
    <h2 class="title">newsletter</h2>
    <p>
        To recieve tips on how to grow your community, sign up to our weekly
        newsletter. We’ll never send you spam or pass on your email address
    </p>
    <form id="form-subscribe">
        <input type="email" />
        <span></span>
        <button>Subscribe</button>
    </form>
</section>

<style>
    .title {
        color: var(--very-pale-blue);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 1.2px;
    }

    p {
        font-size: 15px;
        margin-block: 1.2rem 2rem;
        max-width: 340px;
    }

    form {
        display: grid;
        position: relative;
        max-width: 368px;
    }

    input {
        display: block;
        width: 100%;
        padding-block: 0.6rem;
        border-radius: 5px;
        border: 1px solid transparent;
        margin-bottom: 0.8rem;
    }

    span {
        position: absolute;
        left: 0;
        bottom: 26px;
        font-size: 14px;
    }

    /* show error  */
    .show-error span {
        color: var(--light-red);
    }

    .show-error input {
        border: 1px solid var(--light-red);
    }

    /* show success */
    .show-success span {
        color: rgb(38, 197, 38);
    }

    button {
        padding: 0.6rem 2rem;
        background-color: var(--pink);
        color: var(--very-pale-blue);
        border: none;
        border-radius: 5px;
        font-weight: 700;
        justify-self: end;
        cursor: pointer;
        transition: background-color 200ms ease-in-out;
    }

    button:hover {
        background-color: var(--light-pink);
    }

    @media (min-width: 800px) {
        form {
            display: flex;
            align-items: center;
            gap: 2rem;
            max-width: 520px;
        }

        span {
            bottom: 38px;
        }

        input {
            margin-bottom: 0;
        }
    }
</style>
